h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none;
  color: white; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.header {
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  position: relative;
  z-index: 1;
  margin: auto;
  color: #fff; }
  .header__overlay {
    background-color: #f2f9ff; }
  .header__container {
    position: relative;
    overflow: hidden;
    background: #008aff;
    border-bottom-left-radius: 200px;
    min-height: 480px; }
  .header__logo {
    margin: 0 32px 0 64px;
    width: 60px;
    height: 28px; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 48px; }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 28px; }
  .header__nav-item {
    margin: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__nav-link {
    font-weight: bold;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .header__nav-link:hover::after {
      content: "";
      display: block;
      bottom: 0;
      height: 4px;
      background-color: #ff9c8e;
      margin-top: 4px; }
  .header__hire-us-link {
    margin: 0 64px 0 32px; }
  .header__nav-link--is-active::after {
    content: "";
    display: block;
    bottom: 0;
    height: 4px;
    background-color: #ff9c8e;
    margin-top: 4px; }
  @media (max-width: 1024px) {
    .header .header__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform: translateX(-15px);
              transform: translateX(-15px); }
    .header .header__logo {
      margin: 0;
      margin-bottom: 30px; }
    .header .header__nav-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      height: 28px;
      width: 100%;
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      max-width: 850px; }
    .header .header__nav-item {
      margin: 0; }
    .header .header__hire-us-link {
      margin: 0;
      margin-top: 30px; } }
  @media (max-width: 550px) {
    .header .header__logo {
      margin: auto;
      z-index: 3; }
    .header .header__nav {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .header .header__nav-list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transform: translateX(103%);
              transform: translateX(103%);
      -webkit-transition: -webkit-transform 1s ease-in-out;
      transition: -webkit-transform 1s ease-in-out;
      transition: transform 1s ease-in-out;
      transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
      position: absolute;
      top: -49px;
      min-height: 480px;
      background-color: #008aff;
      border-bottom-left-radius: 29%;
      -webkit-box-shadow: -3px 1px 10px black;
              box-shadow: -3px 1px 10px black; }
    .header .header__nav-item {
      margin: 5px 20px; }
    .header .header__nav-link {
      font-size: 23px;
      font-weight: 600; }
      .header .header__nav-link::after {
        display: none; }
    .header .header__nav-link--is-active {
      color: #ff9c8e;
      font-weight: 800;
      font-size: 30px; }
      .header .header__nav-link--is-active::after {
        display: none; }
    .header .header__hire-us-link {
      width: 100%;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: -webkit-transform 1s ease-in-out;
      transition: -webkit-transform 1s ease-in-out;
      transition: transform 1s ease-in-out;
      transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
      position: absolute;
      bottom: -310px; }
    .header .move-ul {
      -webkit-transform: translateX(15px);
              transform: translateX(15px); }
    .header .move-hire-us {
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 48px auto 0; }
  .header__description {
    margin: auto;
    padding: 0 20px;
    max-width: 490px; }
  .header__description-about {
    font-family: Open Sans, serif;
    font-size: 18px;
    margin-bottom: 56px;
    max-width: 460px; }
  .header__btn-rectangle {
    -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
    .header__btn-rectangle:hover {
      -webkit-box-shadow: 1px 1px 14px white;
              box-shadow: 1px 1px 14px white;
      background-color: white;
      color: #008aff; }
  .header__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 48%;
    max-width: 687px;
    height: 680px;
    border-top-left-radius: 200px;
    background-image: url("../images/slider/slide-img-1.jpg"); }
  @media (max-width: 1024px) {
    .header .header__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header .header__description {
      -ms-flex-item-align: start;
          align-self: flex-start;
      margin: 0; }
    .header .header__slider {
      -ms-flex-item-align: end;
          align-self: flex-end; } }
  @media (max-width: 550px) {
    .header .header__slider {
      display: none; }
    .header .header__description {
      display: block;
      text-align: center;
      margin: auto;
      padding-bottom: 30px; }
    .header .header__description-about {
      margin-bottom: 30px; }
    .header .header__btn-rectangle {
      margin: auto; } }

.burger-menu {
  position: absolute;
  right: 10px;
  display: none;
  z-index: 2; }
  .burger-menu__item-1, .burger-menu__item-2, .burger-menu__item-3 {
    width: 35px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

.opend-menu .burger-menu__item-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px); }

.opend-menu .burger-menu__item-2 {
  opacity: 0; }

.opend-menu .burger-menu__item-3 {
  -webkit-transform: rotate(45deg) translate(-7px, -6px);
          transform: rotate(45deg) translate(-7px, -6px); }

@media (max-width: 550px) {
  .burger-menu {
    display: block; } }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 48px 48px; }
  .intro__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center; }
  .intro__arrows-item {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
    .intro__arrows-item:hover {
      cursor: pointer;
      background-color: pink;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
    .intro__arrows-item::before {
      content: "";
      display: block;
      width: 5.56px;
      height: 9px; }
  .intro__arrows-item--left::before {
    background-image: url("../images/slider/arrow-left.svg"); }
  .intro__arrows-item--right::before {
    background-image: url("../images/slider/arrow-right.svg"); }
  .intro__text-title {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 0 8px; }
  .intro__text-description {
    font-size: 14px;
    margin: 0 0 0 8px; }

.welcome-overlay {
  background: #f2f9ff;
  padding-top: 200px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px); }

.welcome {
  max-width: 754px;
  margin: auto;
  margin-top: 148px; }
  .welcome__title {
    font-size: 32px;
    color: #253757;
    font-weight: 600;
    margin: 0 0 16px; }
  .welcome__text {
    font-size: 24px;
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #6c788b;
    margin: 0; }

.limiter {
  max-width: 1600px;
  margin: auto; }

.h1-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  margin-bottom: 32px; }

@media (max-width: 550px) {
  .h1-title {
    font-size: 35px;
    margin-bottom: 15px; } }

.btn-rectangle {
  display: block;
  width: 226px;
  height: 50px;
  font-size: 15px;
  border-radius: 64px;
  background-color: #ff9c8e;
  text-align: center;
  line-height: 50px; }

/*# sourceMappingURL=main.css.map */
