h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none;
  color: white; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.header {
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  position: relative;
  z-index: 1;
  margin: auto;
  color: #fff; }
  .header__container {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 200px;
    min-height: 480px; }
  .header__logo {
    margin: 0 32px 0 64px;
    width: 60px;
    height: 28px; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 48px;
    max-width: 1600px;
    margin: auto; }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 28px; }
  .header__nav-item {
    margin: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__nav-link {
    font-weight: bold;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .header__nav-link::after {
      content: "";
      display: block;
      bottom: 0;
      height: 4px;
      background-color: #ff9c8e;
      margin-top: 4px;
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out; }
    .header__nav-link:hover::after {
      opacity: 1; }
  .header__hire-us-link {
    margin: 0 64px 0 32px; }
  .header__nav-link--is-active::after {
    content: "";
    display: block;
    bottom: 0;
    height: 4px;
    background-color: #ff9c8e;
    margin-top: 4px; }
  @media (max-width: 1024px) {
    .header .header__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header .header__logo {
      margin: 0;
      margin-bottom: 30px; }
    .header .header__nav-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      height: 28px;
      width: 100%;
      -webkit-transform: translateX(15px);
              transform: translateX(15px);
      max-width: 850px; }
    .header .header__nav-item {
      margin: 0; }
    .header .header__hire-us-link {
      margin: 0;
      margin-top: 30px; } }
  @media (max-width: 550px) {
    .header .header__logo {
      margin: auto;
      z-index: 3; }
    .header .header__nav {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .header .header__nav-list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transform: translateX(103%);
              transform: translateX(103%);
      -webkit-transition: -webkit-transform 1s ease-in-out;
      transition: -webkit-transform 1s ease-in-out;
      transition: transform 1s ease-in-out;
      transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
      position: absolute;
      top: 0;
      min-height: 502px;
      background-color: #008aff;
      border-bottom-left-radius: 200px;
      -webkit-box-shadow: -3px 1px 10px black;
              box-shadow: -3px 1px 10px black; }
    .header .header__nav-item {
      margin: 10px 20px;
      text-align: center; }
    .header .header__nav-link {
      font-size: 23px;
      font-weight: 600; }
      .header .header__nav-link::after {
        display: none; }
    .header .header__nav-link--is-active {
      color: #ff9c8e;
      font-weight: 800;
      font-size: 30px; }
      .header .header__nav-link--is-active::after {
        display: none; }
    .header .header__hire-us-link {
      width: 100%;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: -webkit-transform 1s ease-in-out;
      transition: -webkit-transform 1s ease-in-out;
      transition: transform 1s ease-in-out;
      transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
      position: absolute;
      bottom: -350px; }
    .header .move-ul {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .header .move-hire-us {
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 48px auto 0; }
  .header__description {
    margin: auto;
    padding: 0 20px;
    max-width: 490px; }
  .header__description-about {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 83px;
    max-width: 362px; }
  .header__btn-rectangle {
    -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
    .header__btn-rectangle:hover {
      -webkit-box-shadow: 1px 1px 14px white;
              box-shadow: 1px 1px 14px white;
      background-color: white;
      color: #008aff; }
  .header__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-top-left-radius: 200px;
    position: relative;
    max-width: 687px;
    overflow: hidden; }
  .header .slider__img {
    max-width: 100%; }
  .header .slider__item {
    max-width: 687px;
    height: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  @media (max-width: 1220px) {
    .header .header__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header .header__description {
      -ms-flex-item-align: start;
          align-self: flex-start;
      margin-left: 150px; }
    .header .header__slider {
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-top: 40px; } }
  @media (max-width: 1024px) {
    .header .header__description,
    .header .header__btn-rectangle {
      margin: auto; } }
  @media (max-width: 600px) {
    .header .header__slider {
      display: none; }
    .header .header__description {
      display: block;
      text-align: center;
      margin: auto;
      padding-bottom: 30px; }
    .header .header__description-about {
      margin-bottom: 30px; }
    .header .header__btn-rectangle {
      margin: auto; } }

.burger-menu {
  position: absolute;
  right: 15px;
  top: 10px;
  display: none;
  z-index: 2; }
  .burger-menu__item-top, .burger-menu__item-middle, .burger-menu__item-bottom {
    width: 35px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

.opend-menu .burger-menu__item-top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px); }

.opend-menu .burger-menu__item-middle {
  opacity: 0; }

.opend-menu .burger-menu__item-bottom {
  -webkit-transform: rotate(45deg) translate(-7px, -6px);
          transform: rotate(45deg) translate(-7px, -6px); }

@media (max-width: 550px) {
  .burger-menu {
    display: block; } }

.slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 48px;
  bottom: 48px; }
  .slider__navigation__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center; }
  .slider__navigation__arrows-item {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
    .slider__navigation__arrows-item:hover {
      cursor: pointer;
      background-color: pink;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
    .slider__navigation__arrows-item::before {
      content: "";
      display: block;
      width: 5.56px;
      height: 9px; }
  .slider__navigation__arrows-item--left::before {
    background-image: url("../images/slider/arrow-left.svg"); }
  .slider__navigation__arrows-item--right::before {
    background-image: url("../images/slider/arrow-right.svg"); }
  .slider__navigation__text-title {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 0 8px; }
  .slider__navigation__text-description {
    font-size: 14px;
    margin: 0 0 0 8px;
    font-family: "Open Sans", serif;
    max-width: 264px; }

.welcome-wrapper {
  background: #f2f9ff;
  padding-top: 200px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  margin-top: -201px; }

.welcome {
  max-width: 754px;
  margin: auto;
  margin-top: 212px;
  padding-bottom: 148px; }
  .welcome__title {
    font-size: 32px;
    color: #253757;
    font-weight: 600;
    margin: 0 0 16px; }
  .welcome__text {
    font-size: 24px;
    line-height: 36px;
    font-family: "Open Sans", serif;
    font-weight: 600;
    color: #6c788b;
    margin: 0; }

@media (max-width: 1024px) {
  .welcome__title {
    text-align: center; } }

@media (max-width: 550px) {
  .welcome-wrapper {
    padding-top: 80px; }
  .welcome {
    padding-bottom: 80px; }
    .welcome__title {
      text-align: center; }
    .welcome__text {
      font-size: 20px; } }

.expertise {
  margin-top: 128px;
  padding-bottom: 105px; }
  .expertise__title {
    margin-bottom: 64px; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .card__img {
    width: 184px;
    height: 166px;
    border-radius: 15px;
    margin-bottom: 40px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
  .card__item {
    width: 264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    margin: 0 80px 50px;
    -webkit-transition: background-color 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.2s ease-in-out; }
    .card__item:hover {
      background-color: #f2f9ff;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }
      .card__item:hover .card__img {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-box-shadow: 0 6px 12px white;
                box-shadow: 0 6px 12px white; }
  .card__name {
    font-weight: 600;
    font-size: 20px;
    color: #253757;
    margin: 16px auto; }
  .card__description {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #6c788b;
    margin: 0; }

@media (max-width: 550px) {
  .expertise {
    padding-bottom: 0; } }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 148px 25px 14px; }

.service__description {
  max-width: 362px; }
  .service__description-card-block-title {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin: 0; }
  .service__description-third-title {
    color: #253757;
    margin-top: 16px;
    margin-bottom: 24px; }
  .service__description-text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6c788b; }

.service__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 568px;
  font-weight: 600; }
  .service__card-item {
    width: 264px;
    height: 264px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    padding: 32px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .service__card-item--1, .service__card-item--3 {
      -webkit-transform: translateY(131px);
              transform: translateY(131px); }
  .service__card-item-number {
    font-size: 13px;
    border-radius: 23px;
    width: 46px;
    height: 24px;
    display: block;
    position: relative;
    margin-bottom: 24px; }
    .service__card-item-number::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .service__card-item-number--1 {
      background-color: #eefafe; }
      .service__card-item-number--1::before {
        content: "001";
        color: #56ccf2; }
    .service__card-item-number--2 {
      background-color: #fffae8; }
      .service__card-item-number--2::before {
        content: "002";
        color: #fcc91d; }
    .service__card-item-number--3 {
      background-color: #e8fbed; }
      .service__card-item-number--3::before {
        content: "003";
        color: #15d850; }
    .service__card-item-number--4 {
      background-color: #feefef; }
      .service__card-item-number--4::before {
        content: "004";
        color: #f36363; }
  .service__card-description {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #6c788b;
    width: 200px; }
  .service__card-arrow {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: top 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: top 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: top 0.4s ease-in-out, transform 0.4s ease-in-out;
    transition: top 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }
  .service__card-button {
    width: 40px;
    height: 40px;
    margin-top: 32px;
    border-radius: 50%;
    display: block;
    background-color: #56ccf2;
    position: relative;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out; }
    .service__card-button::after {
      content: "Learn more";
      position: absolute;
      display: block;
      left: 56px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 15px;
      text-align: center;
      color: #334563;
      width: 87px;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out; }
    .service__card-button:hover {
      width: 100%;
      border-radius: 22px; }
      .service__card-button:hover::after {
        color: white; }
      .service__card-button:hover .service__card-arrow {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        top: 12px; }
    .service__card-button--1 {
      background-color: #56ccf2; }
    .service__card-button--2 {
      background-color: #fcc91d; }
    .service__card-button--3 {
      background-color: #15d850; }
    .service__card-button--4 {
      background-color: #f36363; }

@media (max-width: 1000px) {
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .service__card {
    max-width: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .service__card-item {
    margin: 30px; }
  .service__card-item--1, .service__card-item--3 {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@media (max-width: 550px) {
  .service {
    padding-top: 70px; } }

.approach {
  background-color: #ff9c8e;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  padding-top: 204px;
  margin-left: 121px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden; }
  .approach__description {
    max-width: 362px;
    margin: 0 auto; }
  .approach__description-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .approach__description-icon {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    background-color: white;
    margin-right: 34px; }
    .approach__description-icon::before {
      content: "";
      display: block;
      width: 64px;
      height: 64px;
      background-repeat: no-repeat;
      background-position: center; }
    .approach__description-icon--1::before {
      background-image: url("../images/icons/announcement speaker.svg"); }
    .approach__description-icon--2::before {
      background-image: url("../images/icons/calendar.svg"); }
    .approach__description-icon--3::before {
      background-image: url("../images/icons/document.svg"); }
  .approach__description-text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    mix-blend-mode: normal; }

@media (max-width: 1350px) {
  .approach {
    margin-left: 0; }
    .approach__img {
      margin-top: 50px; } }

@media (max-width: 1220px) {
  .approach {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .approach__description {
      max-width: 362px;
      margin-left: 70px; }
    .approach__img {
      -ms-flex-item-align: end;
          align-self: flex-end; } }

@media (max-width: 600px) {
  .approach {
    padding: 100px 25px; }
    .approach__img {
      display: none; } }

@media (max-width: 500px) {
  .approach__description-text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px; }
  .approach__description {
    margin: 0 auto; }
  .card-block-title {
    text-align: right; } }

.testimonials-limiter {
  max-width: 1146px;
  margin: auto; }

.testimonials {
  padding: 148px 25px 0; }
  .testimonials-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .testimonials-third-title {
    margin: 16px 0 85px; }

.testimonials-title-block {
  margin-left: 50px; }
  .testimonials-title-block__third-title {
    color: #c0cdd7; }

.testimonials-card__item {
  width: 314px;
  padding: 32px;
  margin-bottom: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  background-color: white;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1; }
  .testimonials-card__item:not(:last-child) {
    margin-right: 25px; }
  .testimonials-card__item-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-top: 63px;
    margin-bottom: 71px; }
    .testimonials-card__item-img::before, .testimonials-card__item-img::after {
      content: "";
      display: block;
      position: absolute;
      width: 139px;
      height: 56px;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: -1; }
    .testimonials-card__item-img::before {
      left: -48px;
      top: -2px; }
    .testimonials-card__item-img::after {
      right: -48px;
      bottom: -2px; }
    .testimonials-card__item-img--1 {
      background-image: url("../images/testimonials/Tal Giald.png"); }
      .testimonials-card__item-img--1::before, .testimonials-card__item-img--1::after {
        background: #56ccf2; }
    .testimonials-card__item-img--2 {
      background-image: url("../images/testimonials/Azadeh Hawkins.png"); }
      .testimonials-card__item-img--2::before, .testimonials-card__item-img--2::after {
        background: #fcc304; }
    .testimonials-card__item-img--3 {
      background-image: url("../images/testimonials/Michel Grover.png"); }
      .testimonials-card__item-img--3::before, .testimonials-card__item-img--3::after {
        background: #f25656; }
  .testimonials-card__item-quotes {
    display: block;
    margin: auto;
    margin-top: 82px; }
  .testimonials-card__item-quotes--1 {
    fill: #56ccf2; }
  .testimonials-card__item-quotes--2 {
    fill: #fcc304; }
  .testimonials-card__item-quotes--3 {
    fill: #f25656; }
  .testimonials-card__item-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #6c788b; }
  .testimonials-card__item-name {
    color: #253757;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 4px; }
  .testimonials-card__item-bottom-title {
    margin: 0;
    text-align: center; }

@media (max-width: 1000px) {
  .testimonials-title-block {
    text-align: center;
    margin: 0; } }

@media (max-width: 500px) {
  .testimonials {
    padding-top: 90px; } }

.visionPassionResults {
  position: relative;
  padding: 199px 20px; }
  .visionPassionResults__square {
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    border-style: solid;
    position: absolute;
    z-index: -1;
    opacity: 0.7; }
    .visionPassionResults__square--1-l {
      left: 82px;
      bottom: 249px; }
    .visionPassionResults__square--2-l {
      left: 131px;
      bottom: 72px; }
    .visionPassionResults__square--3-l {
      left: 235px;
      bottom: 527px; }
    .visionPassionResults__square--4-l {
      left: 269px;
      bottom: 254px; }
    .visionPassionResults__square--5-l {
      left: 446px;
      bottom: 565px; }
    .visionPassionResults__square--6-l {
      left: 481px;
      bottom: 177px; }
    .visionPassionResults__square--1-r {
      right: 67px;
      bottom: 322px; }
    .visionPassionResults__square--2-r {
      right: 111px;
      bottom: 523px; }
    .visionPassionResults__square--3-r {
      right: 143px;
      bottom: 113px; }
    .visionPassionResults__square--4-r {
      right: 215px;
      bottom: 406px; }
    .visionPassionResults__square--5-r {
      right: 314px;
      bottom: 214px; }
    .visionPassionResults__square--6-r {
      right: 553px;
      bottom: 129px; }
    .visionPassionResults__square--yellow {
      border-color: #fde183; }
    .visionPassionResults__square--pink {
      border-color: #f9b0b0; }
    .visionPassionResults__square--magenta {
      border-color: #e394fd; }
    .visionPassionResults__square--lightblue {
      border-color: #baeaf9; }
    .visionPassionResults__square--green {
      border-color: #83eba2; }
    .visionPassionResults__square--big {
      width: 143.04px;
      height: 56.54px;
      border-width: 4px; }
    .visionPassionResults__square--medium {
      width: 86.41px;
      height: 34.16px;
      border-width: 5px; }
    .visionPassionResults__square--small {
      width: 53.69px;
      height: 21.22px;
      border-width: 5px; }
  .visionPassionResults__text-part {
    margin: auto;
    text-align: center;
    max-width: 637px;
    border-radius: 15px; }
  .visionPassionResults__second-title {
    margin: 0 0 24px;
    background-color: transparent; }
  .visionPassionResults__text {
    background-color: transparent; }
  .visionPassionResults__btn-rectangle {
    margin: 64px auto 0;
    -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
    .visionPassionResults__btn-rectangle:hover {
      background-color: #008aff; }

@media (max-width: 1000px) {
  .visionPassionResults {
    padding: 100px 20px; }
    .visionPassionResults__square {
      display: none; } }

.footer {
  background-color: #008aff;
  border-top-right-radius: 200px;
  color: white;
  padding-top: 180px; }

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  margin-right: 200px;
  margin-bottom: 121px;
  padding-bottom: 30px; }
  .form-contact__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 39px; }
  .form-contact__form {
    margin: 0 113px 0 50px; }
  .form-contact__contact {
    margin-left: 113px; }
  .form-contact__description-title {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5; }
  .form-contact__description-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px; }
  .form-contact__icons {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }
  .form-contact__icons-facebook, .form-contact__icons-twiter, .form-contact__icons-instagram {
    fill: white; }
    .form-contact__icons-facebook:hover, .form-contact__icons-twiter:hover, .form-contact__icons-instagram:hover {
      fill: #d2ebff; }
  .form-contact__btn-rectangle {
    margin-top: 80px; }

.footer-form__item {
  max-width: 460px;
  width: 100%;
  height: 40px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: none;
  margin-bottom: 48px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: white;
  font-family: "Poppins", sans-serif !important;
  opacity: 0.7; }
  .footer-form__item::-webkit-input-placeholder {
    color: white;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px; }
  .footer-form__item:focus {
    border-bottom: 2px solid white;
    opacity: 1; }

@media (max-width: 1300px) {
  .contactUs {
    padding-top: 100px; }
  .form-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-bottom: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form-contact__title {
      text-align: center; }
    .form-contact__form {
      margin: 0; }
    .form-contact__contact {
      margin: 0;
      margin-top: 100px; }
    .form-contact__icons {
      margin: auto;
      margin-top: 30px; }
    .form-contact__btn-rectangle {
      margin: auto; } }

@media (max-width: 500px) {
  .form-contact__title {
    margin: auto;
    margin-bottom: 39px;
    max-width: 180px; } }

.footer-nav {
  max-width: 1600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  padding-bottom: 20px; }
  .footer-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-nav-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .footer-nav-item::after {
      content: "";
      width: 100%;
      height: 4px;
      margin-top: 5px;
      display: block;
      background-color: #ff9c8e;
      border-radius: 3px;
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out; }
    .footer-nav-item:hover::after {
      opacity: 1; }
  .footer-nav-item:not(:last-child) {
    margin-right: 64px; }

@media (max-width: 750px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-nav__logo {
      margin-bottom: 20px; }
  .footer-form__item {
    margin: 0 auto 48px; } }

@media (max-width: 650px) {
  .footer-nav {
    display: none; }
  .form-contact {
    margin-bottom: 0; } }

html {
  scroll-behavior: smooth; }

.blue-background-lay {
  background-color: #f2f9ff; }

.first-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif; }

.second-title {
  font-weight: 600;
  font-size: 52px;
  text-align: center;
  color: #253757; }

.third-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px; }

.card-block-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase; }

@media (max-width: 550px) {
  .h1-title {
    font-size: 35px;
    margin-bottom: 15px; } }

.btn-rectangle {
  display: block;
  width: 226px;
  height: 50px;
  font-size: 15px;
  border-radius: 64px;
  background-color: #ff9c8e;
  text-align: center;
  line-height: 50px; }

.limiter {
  max-width: 1600px;
  margin: auto; }

@media (max-width: 1024px) {
  .first-title {
    font-size: 42px;
    line-height: 45px; }
  .second-title {
    font-size: 32px; }
  .third-title {
    font-size: 30px;
    line-height: 35px; } }

/*# sourceMappingURL=main.css.map */
